In [1]:
import pandas as pd
df=pd.read_csv("test_brand_data.csv")
df

,date,brand,region,total_sales,total_items_count,total_receipts_count,total_stores_count
0,2027-02-06,Словора,Москва,2679000.97,23299,20085,927
1,2027-01-02,Зефора,Москва,2567184.96,19403,16886,855
2,2027-02-27,Словора,Москва,2869078.09,22382,19289,932
3,2027-01-02,Каморн,Москва,2899584.85,26983,23316,932
4,2027-01-02,Словора,Москва,4758714.46,51520,42814,927
...,...,...,...,...,...,...,...
50066,2028-05-27,Зефора,Ярославская область,2890245.22,27727,24294,191
50067,2028-05-27,Линдо,Ярославская область,195.37,1,1,1
50068,2028-05-27,Каморн,Ярославская область,456623.22,3566,3088,191
50069,2028-05-27,Люнга,Ярославская область,380131.24,5688,4915,119
50070,2028-05-27,Гроталь,Ярославская область,406290.21,3503,3045,188

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50071 entries, 0 to 50070
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  50071 non-null  object
 1   brand                 50063 non-null  object
 2   region                50071 non-null  object
 3   total_sales           50071 non-null  float64
 4   total_items_count     50071 non-null  int64
 5   total_receipts_count  50071 non-null  int64
 6   total_stores_count    50071 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.7+ MB

In [7]:
df.describe()

,total_sales,total_items_count,total_receipts_count,total_stores_count
count,5.007100e+04,50071.000000,50071.000000,50071.000000
mean,5.915604e+05,5991.976773,5095.354137,169.912804
std,1.270025e+06,12905.692451,10662.421683,210.970619
min,0.000000e+00,0.000000,1.000000,1.000000
25%,6.223661e+04,671.000000,573.000000,45.000000
50%,2.094684e+05,2200.000000,1905.000000,112.000000
75%,5.691351e+05,5753.500000,4970.000000,184.000000
max,3.421065e+07,303251.000000,225073.000000,1384.000000

In [99]:
if df.isnull().sum().sum() != 0:
    print("ogog")

ogog

In [95]:
df.isnull().sum()

date                    0
brand                   8
region                  0
total_sales             0
total_items_count       0
total_receipts_count    0
total_stores_count      0
dtype: int64

In [3]:
data = df.dropna(how='any')

In [5]:
data.isnull().sum()

date                    0
brand                   0
region                  0
total_sales             0
total_items_count       0
total_receipts_count    0
total_stores_count      0
dtype: int64

In [57]:
data['date'] = pd.to_datetime(data['date'])

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\736794659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'])

In [75]:
data["day"] = data["date"].dt.day
data["month"] = data["date"].dt.month
data["year"] = data["date"].dt.year

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\4222852405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day"] = data["date"].dt.day
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\4222852405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["month"] = data["date"].dt.month
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\4222852405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["year"] = data["date"].dt.year

In [31]:
data["brand"].nunique()

42

In [45]:
data.groupby(["brand"]).size().sort_values(ascending=False)

brand
Фрингель    5092
Зефора      5052
Корманис    4977
Хмедон      4977
Каморн      4977
Бривел      4976
Люнга       4967
Гроталь     4855
Линдо       1038
Доверан      988
Гробур       976
Хантир       726
Словора      637
Вунтель      545
Шалтан       520
Мурдело      478
Меривир      450
Гирба        436
Гренто       417
Прандир      372
Брефора      277
Красталь     241
Хонгор       201
Венжера      187
Набрия       179
Кроча        170
Кримора      152
Шортиль      128
Урмель       126
Фридлос      126
Ламбус       125
Гондель      119
Урлика       100
Ладеран       89
Фландер       78
Траммель      74
Кларим        64
Жантель       52
Шамор         51
Вельмер       36
Трандус       23
Скалон         9
dtype: int64

In [59]:
def choose_brand(data,s):
    return data[data.brand==s]

In [61]:
fringel=choose_brand(data,"Фрингель")
fringel

,date,brand,region,total_sales,total_items_count,total_receipts_count,total_stores_count
11,2027-01-02,Фрингель,Алтайский край,213101.86,1797,1568,75
24,2027-01-02,Фрингель,Архангельская область,241871.63,2394,2148,92
34,2027-01-02,Фрингель,Астраханская область,99549.81,993,871,86
43,2027-01-02,Фрингель,Белгородская область,361423.46,3360,2890,159
52,2027-01-02,Фрингель,Брянская область,655786.21,4654,4048,149
...,...,...,...,...,...,...,...
50026,2028-05-27,Фрингель,Ханты-Мансийский Автономный округ - Югра,629275.42,4678,4100,129
50035,2028-05-27,Фрингель,Челябинская область,5673311.38,47083,41499,437
50043,2028-05-27,Фрингель,Чувашская Республика - Чувашия,259280.23,2114,1875,125
50053,2028-05-27,Фрингель,Ямало-Ненецкий автономный округ,344858.32,2564,2141,47
50064,2028-05-27,Фрингель,Ярославская область,328256.73,3333,2937,186

In [11]:
def avg_region(df):
    temp=df.groupby("region").agg({"total_sales":sum,"total_stores_count":sum})
    temp["total_sales"] = temp["total_sales"].apply(lambda x: x / 1_000_000)
    temp["avg_sales"]=temp["total_sales"]/temp["total_stores_count"]
    temp["avg_sales"] = temp["avg_sales"].apply(lambda x: x * 1_000_000)
    temp = temp.rename(columns={"total_sales": "total_sales_mln"})#считаем сумму в миллионах
    return temp.sort_values(ascending=False,by="avg_sales")

In [149]:
avg=avg_region(fringel)

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\2833756907.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  temp=df.groupby("region").agg({"total_sales":sum,"total_stores_count":sum})
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\2833756907.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  temp=df.groupby("region").agg({"total_sales":sum,"total_stores_count":sum})

In [165]:
avg.loc["Хабаровский край","avg_sales"]

13694.80195212766

In [325]:
def total_info(df):
    total= df.groupby("brand").agg(
            {"total_sales": sum, "total_items_count": sum, "total_receipts_count": sum, "total_stores_count": sum}
        )
    total = total.reset_index(drop=False)  
    total = total.sort_values(ascending=False, by="total_sales")
    total = total.reset_index(drop=True)
    return total

In [327]:
total=total_info(data)
total

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1803747812.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  total= df.groupby("brand").agg(
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1803747812.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  total= df.groupby("brand").agg(

,brand,total_sales,total_items_count,total_receipts_count,total_stores_count
0,Люнга,6.755834e+09,64186549,55224504,980767
1,Фрингель,4.038077e+09,34719081,30193294,961172
2,Гроталь,3.514385e+09,33294841,28044664,758353
3,Зефора,2.920290e+09,26692328,23198334,756663
4,Бривел,2.601591e+09,31376395,27060666,958266
5,Каморн,2.599872e+09,23077794,20020636,1015703
6,Линдо,1.477362e+09,13564970,11693913,145279
7,Хмедон,1.299352e+09,16852775,14692592,1002366
8,Корманис,7.216555e+08,11112412,9411213,953942
9,Вунтель,7.191897e+08,9231160,7280326,84392
10,Словора,4.834937e+08,4171052,3545196,198235
11,Гирба,4.152254e+08,4030054,3495567,63798
12,Хантир,4.124931e+08,4308920,3734623,184997
13,Мурдело,3.613347e+08,8287943,5169655,73494
14,Доверан,2.450138e+08,4474101,3314295,90485
15,Брефора,1.969820e+08,1789537,1542782,16203
16,Гробур,1.967379e+08,1779042,1536518,62922
17,Венжера,9.178224e+07,647217,575929,11694
18,Набрия,9.104939e+07,966301,838514,19966
19,Урлика,6.641893e+07,626336,541744,7057
20,Красталь,6.006277e+07,983902,866225,24630
21,Шортиль,5.566764e+07,576380,501194,4743
22,Траммель,5.347851e+07,706746,469804,3571
23,Меривир,4.251217e+07,440306,363344,39681
24,Фландер,3.016197e+07,322795,262473,5955
25,Хонгор,2.762614e+07,428950,383263,11447
26,Кроча,2.688903e+07,349302,300115,5679
27,Прандир,2.541160e+07,307968,265905,17499
28,Ламбус,1.195916e+07,43211,38574,2540
29,Кримора,1.174221e+07,90256,76937,4048
30,Шалтан,1.105805e+07,61238,52077,13413
31,Фридлос,9.460201e+06,50061,44362,2497
32,Гренто,9.276731e+06,94395,79978,7664
33,Гондель,9.234047e+06,86797,76664,6831
34,Ладеран,7.926833e+06,137192,96404,1017
35,Жантель,6.246101e+06,46278,41119,1891
36,Урмель,5.128095e+06,31571,28240,2005
37,Кларим,4.206174e+06,40872,36027,2121
38,Шамор,1.520568e+06,18955,15895,2588
39,Вельмер,1.344376e+06,9276,8034,905
40,Трандус,1.719594e+05,1974,1759,317
41,Скалон,3.709560e+03,54,50,9

In [251]:
total.reset_index(inplace = True,drop=True)

In [257]:
total[total["brand"]=="Фрингель"].index[0]

1

In [267]:
def competitors(df,brand):
    res=pd.DataFrame()
    index = total[total["brand"]==brand].index[0]
    if (index>=2) and (index<len(df)-2):
        res = df.iloc[max(0, index - 2): index + 3 , 0]
        return res[res!= brand]
    else :
        if index==1:
            res = df.iloc[0: index + 3 , 0]
        if index==0:
            res = df.iloc[0:index + 4 , 0]
        if index==len(df)-1:
            res = df.iloc[len(df)-4: len(df)-1 , 0]
        if index==len(df)-2:
            res = df.iloc[len(df)-4: len(df)-1 , 0]
    return res[res!= brand]

In [269]:
comps=competitors(total,"Фрингель")

In [271]:
print(f"here:{comps[0]}")

here:Люнга

In [169]:
print(f"лист {comps.tolist()}")

лист ['Люнга', 'Фрингель', 'Зефора', 'Бривел']

In [185]:
def compare(df_1,df_2):
    reg_1=df_1.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})
    reg_2=df_2.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})
    reg_1 = reg_1.reindex(reg_2.index)
    res = reg_1 - reg_2
    return res.sort_values(ascending=False,by="total_sales")

In [187]:
lunga=choose_brand(data,"Люнга")

In [199]:
dif=compare(fringel,lunga)
dif

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1359955420.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  reg_1=df_1.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1359955420.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  reg_1=df_1.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1359955420.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  reg_2=df_2.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})
C:\Users\frize\AppData\Local\Temp\ipykernel_9584\1359955420.py:3: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  reg_2=df_2.groupby("region").agg({"total_sales":sum,"total_items_count":sum,"total_receipts_count":sum,"total_stores_count":sum})

,total_sales,total_items_count,total_receipts_count,total_stores_count
region,,,,
Челябинская область,2.344136e+08,1668441,1464011,29
Пермский край,1.775199e+08,1295911,1133447,6403
Республика Башкортостан,1.768447e+08,1455459,1279766,1499
Кемеровская область,6.748144e+07,474554,406831,119
Омская область,5.835505e+07,420690,363903,21
...,...,...,...,...
Ростовская область,-2.884145e+08,-2829163,-2452314,-250
Воронежская область,-3.437012e+08,-3217150,-2739341,-26
Краснодарский край,-4.243461e+08,-4415053,-3824486,-977
Московская область,-4.483071e+08,-4590246,-3894833,-23750
Москва,-4.690769e+08,-4818251,-4088583,-6754

In [211]:
def difference(df):
    grouped=df.groupby(["year","month"]).agg({"total_sales":sum,"total_items_count":sum}).reset_index()
    grouped=grouped.sort_values(by=["year", "month"])
    grouped["sum_difference"] = grouped["total_sales"].diff()
    grouped["items_difference"] = grouped["total_items_count"].diff()
    return grouped.sort_values(ascending=False,by=["total_sales","total_items_count"]).reset_index(drop=True)

In [219]:
a=difference(lunga)
a.iloc[0,0]

C:\Users\frize\AppData\Local\Temp\ipykernel_9584\3669995174.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped=df.groupby(["year","month"]).agg({"total_sales":sum,"total_items_count":sum}).reset_index()

2027

In [217]:
a

,year,month,total_sales,total_items_count,sum_difference,items_difference
0,2027,12,5.363910e+08,4942516,1.659525e+08,1379213.0
1,2028,4,4.765817e+08,4343459,1.165494e+08,1025017.0
2,2027,5,4.536174e+08,4299969,7.228192e+07,799107.0
3,2027,10,4.496990e+08,4390224,7.356213e+07,688553.0
4,2027,7,4.323949e+08,4230863,7.795050e+07,864242.0
5,2027,1,4.076092e+08,3938230,NaN,NaN
6,2028,5,4.054598e+08,3626832,-7.112196e+07,-716627.0
7,2028,1,3.893633e+08,3686941,-1.470277e+08,-1255575.0
8,2027,4,3.813355e+08,3500862,7.985159e+07,486098.0
9,2027,9,3.761369e+08,3701671,1.729758e+07,327051.0
10,2027,11,3.704385e+08,3563303,-7.926052e+07,-826921.0
11,2028,3,3.600323e+08,3318442,1.759724e+06,-192648.0
12,2027,8,3.588393e+08,3374620,-7.355560e+07,-856243.0
13,2028,2,3.582726e+08,3511090,-3.109064e+07,-175851.0
14,2027,6,3.544444e+08,3366621,-9.917305e+07,-933348.0
15,2027,2,3.437343e+08,3376142,-6.387498e+07,-562088.0
16,2027,3,3.014839e+08,3014764,-4.225034e+07,-361378.0